* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Layout */




/* Utility */


.p-5px {
    padding: 5px;
}

.py-5 {
    padding: 5px 0 5px 0;
}




/* Style */




/* TXT */
.txt-white {
    color: white;
}


.txt-dark-green {
    color: rgb(20, 92, 20);
}


.txt-dark-orange {
    color: rgb(126, 93, 32);
}



/* BG */
.bg-darkBlue {
    background-color: rgb(69 69 127);
}